<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>PushForMoney</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>twitterkit-B9gQXS1YrrtH5Q9HDFl08MVVS</string>
				<string>fb712282838941936</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.1041950784543-pkmc6rhf0e6av81q1j8qhspb10oqa7dn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1041950784543-pkmc6rhf0e6av81q1j8qhspb10oqa7dn</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Twitter</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>PushForMoney</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>FacebookAppID</key>
	<string>712282838941936</string>
	<key>FacebookDisplayName</key>
	<string>JobFIXers first app</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>pushformoney://</string>
		<string>twitter</string>
		<string>twitterauth</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Access Photos From Facebook</string>
	<key>NSCameraUsageDescription</key>
	<string>Access Camera to Capture Images</string>
	<key>NSContactsUsageDescription</key>
	<string>ntwrk accesses Contacts in order to quickly add Relationships and allow them to reach out via ntwrk through email, text, phone, etc.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Access Image From Library</string>
	<key>UIAppFonts</key>
	<array>
		<string>Barlow-Black.otf</string>
		<string>Barlow-BlackItalic.otf</string>
		<string>Barlow-Bold.otf</string>
		<string>Barlow-BoldItalic.otf</string>
		<string>Barlow-ExtraBoldItalic.otf</string>
		<string>Barlow-ExtraLight.otf</string>
		<string>Barlow-ExtraLightItalic.otf</string>
		<string>Barlow-Italic.otf</string>
		<string>Barlow-Light.otf</string>
		<string>Barlow-LightItalic.otf</string>
		<string>Barlow-Medium.otf</string>
		<string>Barlow-MediumItalic.otf</string>
		<string>Barlow-Regular.otf</string>
		<string>Barlow-SemiBold.otf</string>
		<string>Barlow-SemiBoldItalic.otf</string>
		<string>Barlow-Thin.otf</string>
		<string>Barlow-ThinItalic.otf</string>
		<string>BarlowCondensed-Black.otf</string>
		<string>barlowcondensed-blackitalic.otf</string>
		<string>BarlowCondensed-Bold.otf</string>
		<string>BarlowCondensed-BoldItalic.otf</string>
		<string>BarlowCondensed-ExtraBold.otf</string>
		<string>BarlowCondensed-ExtraBoldItalic.otf</string>
		<string>BarlowCondensed-ExtraLight.otf</string>
		<string>BarlowCondensed-ExtraLightItalic.otf</string>
		<string>BarlowCondensed-Italic.otf</string>
		<string>BarlowCondensed-Light.otf</string>
		<string>BarlowCondensed-LightItalic.otf</string>
		<string>BarlowCondensed-Medium.otf</string>
		<string>BarlowCondensed-MediumItalic.otf</string>
		<string>BarlowCondensed-Regular.otf</string>
		<string>BarlowCondensed-SemiBold.otf</string>
		<string>BarlowCondensed-SemiBoldItalic.otf</string>
		<string>BarlowCondensed-Thin.otf</string>
		<string>BarlowCondensed-ThinItalic.otf</string>
		<string>BarlowSemiCondensed-Black.otf</string>
		<string>BarlowSemiCondensed-BlackItalic.otf</string>
		<string>BarlowSemiCondensed-Bold.otf</string>
		<string>BarlowSemiCondensed-BoldItalic.otf</string>
		<string>barlowsemicondensed-extrabold.otf</string>
		<string>BarlowSemiCondensed-ExtraBoldItalic.otf</string>
		<string>BarlowSemiCondensed-ExtraLight.otf</string>
		<string>barlowsemicondensed-extralightitalic.otf</string>
		<string>barlowsemicondensed-italic.otf</string>
		<string>barlowsemicondensed-light.otf</string>
		<string>BarlowSemiCondensed-LightItalic.otf</string>
		<string>BarlowSemiCondensed-Medium.otf</string>
		<string>barlowsemicondensed-mediumitalic.otf</string>
		<string>BarlowSemiCondensed-Regular.otf</string>
		<string>BarlowSemiCondensed-SemiBold.otf</string>
		<string>BarlowSemiCondensed-SemiBoldItalic.otf</string>
		<string>barlowsemicondensed-thin.otf</string>
		<string>barlowsemicondensed-thinitalic.otf</string>
		<string>WorkSans-Black.ttf</string>
		<string>WorkSans-Bold.ttf</string>
		<string>WorkSans-ExtraBold.ttf</string>
		<string>WorkSans-ExtraLight.ttf</string>
		<string>WorkSans-Light.ttf</string>
		<string>WorkSans-Medium.ttf</string>
		<string>WorkSans-Regular.ttf</string>
		<string>WorkSans-SemiBold.ttf</string>
		<string>WorkSans-Thin.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Roboto_medium.ttf</string>
		<string>Roboto.ttf</string>
		<string>rubicon-icon-font.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
